# Dependencias
node_modules/

# Archivos generados por herramientas
*.tsbuildinfo
coverage/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.*
!.env.example

# Archivos del sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
