/*---Estilos para los popup*/
/*Estilos generales de los popup*/
.popup {
  font-family: "Inter", Arial, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
/*Estilos generales para los botones de los popup*/
.popup__button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 2px;
  border: none;
  margin-top: 48px;
}
/*Estilos para los botones de los popup cuando se pasa el cursor sobre ellos*/
.popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
/*Estilos para los botones de los popup cuando están deshabilitados*/
.popup__button:disabled {
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/*Estilos para los botones de los popup cuando están deshabilitados y se pasa el cursor sobre ellos*/
.popup__button:disabled:hover {
  cursor: not-allowed;
}
/*Estilos para el botón de cierre de los popup*/
.popup__close {
  width: 35px;
  height: 35px;
  background: transparent url("../images/close.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  position: absolute;
  top: -39px;
  right: -37px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
/*Estilos para el botón de cierre de los popup cuando se pasa el cursor sobre él*/
.popup__close:hover {
  opacity: 0.6;
}
/*Estilos generales del contenido de los popup*/
.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 323px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}
/*Estilos para los formularios de los popup*/
.popup__form {
  margin-top: 27px;
}
/*Estilos para los inputs de los popup*/
.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
}
/*Estilos para los inputs invalidos de los popup*/
.popup__input_invalid {
  border-bottom: 1px solid red;
}
/*Estilos para el último input de los popup*/
.popup__input:last-of-type {
  margin-bottom: 0;
}
/*Estilos para los títulos de los popup*/
.popup__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}
/*Estilos para abrir los popup cuando se hace clic en un botón*/
.popup_is-opened {
  display: flex;
}
/*Estilos para el contenido de los popup cuando se muestra una imagen*/
.popup__content_content_image {
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  display: flex;
  background: transparent;
  border-radius: 0;
  padding: 0;
}
/*Estilos para las imágenes de los popup*/
.popup__image {
  max-width: 100%;
  object-fit: cover;
}
/*Estilos para los subtítulos de los popup*/
.popup__caption {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
}
/*Estilos para los mensajes de error de los popup*/
.popup__input-error {
  font-size: 12px;
  line-height: 15px;
  color: red;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}
/*Media query*/
/*Pantallas con un ancho máximo de 544px*/
@media screen and (max-width: 544px) {
  /*Estilos generales de los popup*/
  .popup {
    bottom: 112px;
  }
  /*Estilos generales para los botones de los popup*/
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 46px;
    height: 46px;
  }
  /*Estilos para el botón de cierre de los popup*/
  .popup__close {
    right: 7px;
    top: -30px;
    width: 20px;
    height: 20px;
  }
  /*Estilos generales del contenido de los popup*/
  .popup__content {
    width: 100%;
    max-width: calc(100% - 19px * 2);
    margin-top: 8px;
    padding: 25px 22px;
  }
  /*Estilos para los formularios de los popup*/
  .popup__form {
    margin-top: 53px;
  }
  /*Estilos para los títulos de los popup*/
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
  /*Estilos para el contenido de los popup cuando se muestra una imagen*/
  .popup__content_content_image {
    max-width: 75vw;
    padding: 0;
  }
}
