/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------Estilos para los cards--------------------------------------------------------------------------------------------*/
/*Estilos generales de los cards----------------------------------------------------------------------------------------------------------*/
.cards {
  font-family: "Inter", Arial, sans-serif;
  padding: 15px 0 36px;
}
/*Estilos de la lista de los cards---------------------------------------------------------------------------------------------------------*/
.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*Media query para pantallas con un ancho máximo de 544px, ajustando el padding de la lista de los cards-----------------------------------*/
/*Estilos generales de los cards-----------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 544px) {
  .cards {
    padding: 15px 0 18px;
  }
}
