/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------Estilos para el header--------------------------------------------------------------------------------------------*/
/*Estilos generales del header------------------------------------------------------------------------------------------------------------*/
.header {
  min-height: 120px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
/*Estilos para el logo del header---------------------------------------------------------------------------------------------------------*/
.header__logo {
  width: 173px;
  height: 33px;
  object-fit: contain;
}
/*Media query para pantallas con un ancho máximo de 544px---------------------------------------------------------------------------------*/
@media screen and (max-width: 544px) {
  /*Estilos generales del header----------------------------------------------------------------------------------------------------------*/
  .header {
    min-height: 85px;
  }
  /*Estilos para el logo del header-------------------------------------------------------------------------------------------------------*/
  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}
